.Footer {
  .footerDiv {
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    color: white;
    text-align: center;
  
    .credits{
      padding-top: 20px;
      font-size: small;
    }
  }
}